@use "../../scss/abstracts" as *;

.teacher {
  @include flex(strech, flex-start);
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  width: $sideBarWidth;
  padding: 20px 10px 0px 10px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  border: solid 1px lightgray;
  background-color: $primary-color-4;
  &__button__remove {
    margin-top: 5%;
    width: 30%;
    height: 4vh;
    border: none;
    align-self: center;
    border-radius: 5%;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: "#FD5E53";
  }
  &__form__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
    width: 70%;
    &__content {
      font-size: 0.9rem;
      font-weight: bold;
      margin-left: 1%;
      margin-bottom: -0.5%;
    }
    &__image {
      width: 50%;
    }
  }
  &__avatar__form {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 0.2rem;
    height: auto;
    &__image {
      height: 8rem;
      width: 8rem;
      border-radius: 50%;
      object-fit: cover;
    }
    &__name {
      font-size: larger;
      font-weight: bold;
    }
    &__class {
      color: $primary-color-1;
    }
  }
  &__contact__form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    &__container {
      margin-top: 5%;
      margin-left: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &__email {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        column-gap: 1em;
        &__content {
          margin-top: 2%;
          color: gray;
        }
      }
      &__phone {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        column-gap: 1em;
        &__content {
          margin-top: 2%;
          color: gray;
        }
      }
      &__address {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        column-gap: 1em;
        &__content {
          margin-top: 2%;
          color: gray;
        }
      }
    }
  }
  &__information__form {
    &__container {
      margin: auto;
      margin-top: 5%;
      margin-left: 10%;
      padding: 0.5rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 1rem;
      &__item {
        width: 50%;
        &__content {
          font-size: 0.9rem;
          font-weight: 450;
        }
        &__value {
          font-size: 0.8rem;
          color: gray;
        }
      }
    }
  }
  &__teaching__subject__form {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.5em;
    row-gap: 0.5em;
    &__item {
      display: flex;
      justify-content: center;
      width: 76px;
      height: 28px;
      padding: 0.2rem;
      background-color: rgb(243, 242, 242);
      border-radius: 40px;
      font-size: 0.85rem;
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      transition: box-shadow 0.2s ease-in-out;
      &:not([disabled]):focus {
        box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(224, 206, 209, 0.5), 0.125rem 0.125rem 1rem rgba(143, 118, 103, 0.5);
      }
      &:not([disabled]):hover {
        box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(189, 169, 173, 0.5), 0.125rem 0.125rem 1rem rgba(143, 118, 103, 0.5);
      }
    }
  }
  &__button__remove {
    margin-top: 3rem;
    background: $red;
    border: 0;
    border-radius: 40px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    width: 160px;
    height: 34px;
    font-size: 16px;
    font-weight: 500;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    transition: box-shadow 0.2s ease-in-out;
    &:not([disabled]):focus {
      box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5), 0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
    }
    &:not([disabled]):hover {
      box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5), 0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
    }
  }
}
