@use "../../../scss/abstracts/" as *;

.chart_container {
  height: 100%;
}
.title {
  margin: 10px;
  color: #757d8a;
}
.week_text {
  margin: 10px;
  font-weight: bold;
  font-size: 1.3em;
}
.barchart_container {
  padding: 0px 30px 0 10px;
}
.week_icon {
  position: relative;
  text-indent: 20px;
  margin: 20px 20px;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/green_dot.png");
  }
}
