@use "../../scss/abstracts/" as *;
.modal_specs {
  font-family: $fontFamily;
  @include flex(flex-start, flex-start);
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200;
  .sem_detail {
    margin-top: 25px;
    width: 300px;
    margin-right: 80px;
    .custom_box {
      @include flex(baseline, flex-start);
      margin-bottom: 5px;

      &__divider {
        min-width: 20px;
        width: 10px;
        height: 2px;
        background-color: $primary-color-1;
      }
      .box {
        border: 1px solid $primary-color-1;
        width: 300px;
        height: 56px;
        border-radius: 10px;
        position: relative;
        @include flex(center, center);
        box-sizing: border-box;
        margin-bottom: 10px;

        h2 {
          margin: 0;
          color: $primary-color-1;
          font-weight: 400;
        }
        &::before {
          content: "";
          background-color: $primary-color-1;
          position: absolute;
          left: -1px;
          top: 0px;
          width: 10%;
          height: 101%;
          border-radius: 10px 0px 0px 10px;
          border: 1px solid $primary-color-1;
        }
      }
    }
    .subject_list {
      font-family: $fontFamily;
      @include flex(baseline, flex-start);
      margin-left: 23px;
      flex-direction: column;
      width: 300px;

      &__subject_items {
        @include flex(baseline, flex-start);
        flex-direction: row;
        width: 90%;
        img {
          width: 18px;
          margin-left: 21px;
          margin-right: 0;
        }
      }
    }
    .subject_tag {
      background-color: $primary-color-1;
      width: 61px;
      height: 20px;
      border-radius: 5px;
      color: $white;
      text-align: center;
      &__divider {
        min-width: 10px;
        height: 2px;
        width: 5%;
        background-color: $primary-color-1;
        margin: 5px 10px 5px 0;
      }
    }
  }
  
}
// Add Spec modal
.AddSpecs {
  font-family: $fontFamily;
  padding-left: 0;
  p {
    font-weight: bold;
    color: $grey-1;
  }
  .ant-divider-horizontal {
    width: 0;
    min-width: 0;
  }
  &__divider {
    background-color: $primary-color-1;
    margin-top: 0;
    width: 430px;
    min-width: 0;
    margin-left: 32px;
  }
  .ant-input-affix-wrapper {
    padding: 0px 0px;
  }
  .input_field {
    display: flex;
    width: 95%;
    img {
      width: 30px;
    }
  }
}
.btn_done {
  width: 100px;
  height: 40px;
  border-color: $primary-color-1;
  color: $primary-color-1;
  background-color: $white;
  border-radius: 40px;
  font-size: medium;
  font-weight: bold;
  &:hover {
    background-color: $primary-color-1;
    color: $white;
  }
}

