@use "../../scss/abstracts/" as *;
.class_management {
  padding-right: 50px;
  font-family: $fontFamily;
  h3 {
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 0;
  }
  .year_course {
    margin-bottom: 5%;
    .divider {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      h4 {
        margin: 0;
        font-weight: bold;
      }
      .center_divider {
        @include divider;
        margin-right: 2%;
      }
      .add_button {
        @include add_button;
      }
    }
  }
}
