$primary-color-1: #21bf73;
$primary-color-2: #b0eacd;
$primary-color-3: #eefaf4;
$primary-color-4: #F9FCFB;
$red: #fd5e53;
$txtColor: #404d61;
$black-1: #000000;
$blue: #63a0ff;
$yellow: #ffd03b;
$white: #ffffff;
$purple: #697dcc;
$light-gray: #F1F1F1;

$fontFamily: "Roboto", sans-serif;
$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 300px;
$sideBarTextColor: #696f7a;
// $sideBarLogoHeight: 171px;
// $spacing: 48px;

$paddingRight: 50px;

$mobile-width: 600px;
$tablet-width: 1366px;
