$primary-color-1: #21bf73;
$primary-color-1-hover-dark: #32a86f;
$primary-color-1-hover-light: rgb(46, 231, 142);
$primary-color-2: #b0eacd;
$primary-color-3: #eefaf4;
$primary-color-4: #f9fcfb;
$red: #fd5e53;
$red-2: #da5552;
$txtColor: #404d61;
$black-1: #000000;
$blue: #63a0ff;
$yellow: #ffd03b;
$white: #ffffff;
$purple: #697dcc;
$light-gray: #f1f1f1;
$grey-1: #636363;
$fontFamily: "Roboto", sans-serif;
$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 320px;
$sideBarTextColor: #696f7a;
// $sideBarLogoHeight: 171px;
// $spacing: 48px;

$paddingRight: 50px;

$mobile-width: 600px;
$tablet-width: 1366px;
