@use "../../scss/abstracts/" as *;

.info-banner {
  background-color: $primary-color-3;
  width: 95%;
  height: 184px;
  margin: 3% 3% 3% 0;
  border-radius: 19px;
  display: flex;
  align-items: center;
  padding-left: 2%;
}
.name-field {
  font-family: $fontFamily;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 2%;
}
.role {
  font-family: $fontFamily;
  font-size: $fontSizeMedium;
}
.profile-title {
  display: flex;
  flex-direction: column;
  font-family: $fontFamily;
  font-size: $fontSizeMedium;
  font-weight: bold;
  margin-right: 5%;
  color: $txtColor;
  
}
.profile-field{
    display: flex;
    flex-direction: row;
    font-family: $fontFamily;
    font-size: $fontSizeMedium;
    margin-left: 5%;
}

