@use "../scss/abstracts/" as *;

.main {
  padding-left: $sideBarWidth + 50px;
  overflow-x: hidden;
  min-height: 100vh;
  padding-top: 2%;
  overflow-y: hidden;
  position: relative;
  background-color: #f8f9fa;
  .admin_dropdown {
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 1000;
    p {
      margin: 0;
      margin-left: 10px;
      font-size: 1rem;
      font-weight: 600;
    }
    @include flex(center, center);
    .admin_name {
      cursor: pointer;
      margin-right: 3px;
    }
  }
}
