@use "../scss/abstracts/" as *;

.main {
  padding-left: $sideBarWidth + 50px;
  overflow-x: hidden;
  min-height: 100vh;
  padding-top: 2%;
  overflow-y: hidden;
  position: relative;
  .admin_dropdown_wrapper {
    width: $sideBarWidth;
    @include flex(center, center);
    position: fixed;
    padding: 10px 0;
    top: 0;
    right: -10px;
    z-index: 200;
    background-color: transparent;
    .admin_dropdown {
      p {
        margin: 0;
        margin-left: 5px;
        font-size: 1rem;
        font-weight: 600;
      }
      @include flex(center, center);
      .admin_name {
        cursor: pointer;
        margin-right: 3px;
      }
    }
  }
}
